
.MainButtons {
  border: inset 4px;
  border-color: $section-border-color;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 1.6%
}

.slider-row
  border: inset 3px;
  border-color: $section-border-color;
  padding 1.4%;
