@import '~vuetify/src/stylus/main.styl'

$original-color = #f3f392

html
  overflow scroll


::-webkit-scrollbar {
  width 0px
  background transparent
}

.application.theme--light
  background: #000000

.status-indicator
  background-color: #ffffff
  margin: 5pxpx
  padding: 5px
  max-width: 300px
  backgound: #F89532