@import '~vuetify/src/stylus/main.styl'

$original-color = #f3f392

html
  overflow scroll


::-webkit-scrollbar {
  width 0
  background transparent
}

.application.theme--light
  background: $dark-theme-background

