$app-primary = #21CE99
$app-secondary = #D81B60
$app-accent = #805441
$app-success = #61B865
$app-light-grey = #E1E2E1
$app-error = #FF6666

$indigo-darken-4 = #1A237E
$dark-theme-background = #212121
$section-border-color = #424242
$gray-darken-3 = #424242

$toolbar-color = #B71C1C

$app-value-indicator = #F89532

$app-font-family = cursive

