$circle-width-1 = 20px
$circle-height-1 = 20px
$circle-background-color = #757575

.spiral-circle-1
  width $circle-width-1
  height $circle-height-1
  background-color $circle-background-color
  border-radius 50%