.StartButton {
  margin: 16px;
  padding: 24px 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #024c15;
  border: none;
  border-radius: 24px;
  box-shadow: 0 5px #90a4ae;
  text-transform: uppercase;
}
.StartButton:hover {
  background-color: #388e3c;
}
.StartButton:active {
  background-color: #00c853;
  box-shadow: 0 1px #37474f;
  transform: translate(1px);
}
.StopButton {
  margin: 16px;
  padding: 24px 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #7f0005;
  border: none;
  border-radius: 24px;
  box-shadow: 0 5px #90a4ae;
  text-transform: uppercase;
}
.StopButton:hover {
  background-color: #d32f2f;
}
.StopButton:active {
  background-color: #d50000;
  box-shadow: 0 1px #37474f;
  transform: translate(1px);
}
.ResetButton {
  margin: 16px;
  padding: 24px 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #311b92;
  border: none;
  border-radius: 24px;
  box-shadow: 0 5px #90a4ae;
  text-transform: uppercase;
}
.ResetButton:hover {
  background-color: #303f9f;
}
.ResetButton:active {
  background-color: #304ffe;
  box-shadow: 0 1px #37474f;
  transform: translate(1px);
}
@media only screen and (max-width: 600px) {
  .StartButton {
    font-size: 22px;
    max-width: 250px;
  }
  .StopButton {
    max-width: 250px;
    font-size: 22px;
  }
  .ResetButton {
    max-width: 250px;
    font-size: 22px;
  }
}
@media only screen and (min-width: 786px) {
  .StartButton {
    font-size: 32px;
    max-width: 300px;
  }
  .StopButton {
    max-width: 300px;
    font-size: 32px;
  }
  .ResetButton {
    max-width: 300px;
    font-size: 32px;
  }
}
@media only screen and (min-width: 992px) {
  .StartButton {
    max-width: 300px;
    font-size: $mpb-font-big;
  }
  .StopButton {
    max-width: $mpb-max-widthLarge;
    font-size: $mpb-font-bigScreen;
  }
  .ResetButton {
    max-width: $mpb-max-widthLarge;
    font-size: $mpb-font-bigScreen;
  }
}
.motorDisplay {
  color: #00c853;
}
