// Start Button Colors
$startButtonColor = #2E7D32
$startButtonHover = #00C853
$startButtonActive = #66BB6A

// Stop Button Colors
$stopButtonColor = #B71C1C
$stopButtonHover = #EF5350
$stopButtonActive = #D50000

// Reset Button Colors
$resetButtonHover = #1A237E
$resetButtonActive = #1976D2
$resetButtonColor = #1565C0


// Box Shadow Properties
$box-shadow-size = 2px
$box-shadow-transform-size = 5px
$box-shadow-color = #424242
$box-shadow-active = #37474F

// General Properties
$mpb-padding = 24px 24x
$mpb-font-family = Roboto, sans-serif
$mpb-font-size = 40px
$mpb-width = 240px
$mpb-border-radius = 16px
$mpb-margin = 16px

$mpb-font-small = 28px
$mpb-font-md = 32px
$mpb-font-large = 42px

$mpb-max-width-small = 300px
$mpb-max-width-md = 360px
$mpb-max-width-large = 550px




.StartButton
    margin $mpb-margin
    padding: $mpb-padding
    font-family: $mpb-font-family
    text-align: center
    cursor: pointer
    outline: none
    color: #ffffff
    background-color: $startButtonColor
    border: none
    border-radius: $mpb-border-radius
    box-shadow: 0 $box-shadow-size $box-shadow-color
    text-transform: uppercase
    &:hover
      background-color: $startButtonHover
    &:active
      background-color $startButtonActive
      box-shadow 0 $box-shadow-transform-size #37474F
      transform translate(1px)


  .StopButton
    margin $mpb-margin
    padding: $mpb-padding
    font-family: $mpb-font-family
    text-align: center
    cursor: pointer
    outline: none
    color: #ffffff
    background-color: $stopButtonColor
    border: none
    border-radius: $mpb-border-radius
    box-shadow: 0 $box-shadow-size $box-shadow-color
    text-transform: uppercase
    &:hover
      background-color: $stopButtonHover
    &:active
      background-color $stopButtonActive
      box-shadow 0 $box-shadow-transform-size $box-shadow-active
      transform translate(1px)



  .ResetButton
    margin: $mpb-margin
    padding: $mpb-padding
    font-family: $mpb-font-family
    text-align: center
    cursor: pointer
    outline: none
    color: #fffFFF
    background-color: $resetButtonColor
    border: none
    border-radius: $mpb-border-radius
    box-shadow: 0 $box-shadow-size $box-shadow-color
    text-transform: uppercase
    &:hover
      background-color: $resetButtonHover
    &:active
      background-color $resetButtonActive
      box-shadow 0 $box-shadow-transform-size $box-shadow-active
      transform translate(3px)


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
  .StartButton
    font-size $mpb-font-small
    height 80px
    // max-width $mpb-max-width-small
  .StopButton
    font-size $mpb-font-small
    height 80px
  // max-width $mpb-max-width-small
  .ResetButton
    height 80px
    font-size $mpb-font-small
    // max-width $mpb-max-width-small




///* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 786px)
  .StartButton
    font-size $mpb-font-md
    height 150px
    // max-width $mpb-max-width-md
  .StopButton
    // max-width $mpb-max-width-md
    font-size $mpb-font-md
    height 150px

  .ResetButton
    // max-width $mpb-max-width-md
    font-size $mpb-font-md
    height 150px




///* Large devices (landscape tablets, 768px and up) */
//@media only screen and (min-width: 768px)
//

@media only screen and (min-width: 992px)
  .StartButton
    // max-width $mpb-max-width-large
    font-size $mpb-font-big
  .StopButton
    // max-width $mpb-max-width-large
    font-size $mpb-font-bigScreen
  .ResetButton
    // max-width $mpb-max-width-large
    font-size $mpb-font-bigScreen